<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <!-- Brand -->
    <div class="row mb-5">
      <div class="col">
        <h3 class="h4 text-uppercase">FIND JOBS</h3>
      </div>
    </div>

    <!-- Links -->
    <div class="row g-4 mb-4">
      <div class="col-6 col-md-3">
        <h4 class="h6 mb-3">Company</h4>
        <ul class="list-unstyled">
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Testimonies</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h4 class="h6 mb-3">Help</h4>
        <ul class="list-unstyled">
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h4 class="h6 mb-3">Resources</h4>
        <ul class="list-unstyled">
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Testimonies</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h4 class="h6 mb-3">Resources</h4>
        <ul class="list-unstyled">
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>

    <!-- Bottom Bar -->
    <div class="row align-items-center pt-4 border-top">
      <div class="col-md">
        <p class="mb-0 text-center text-md-start">
          © Copyright 2024. All Rights Reserved by Findjobs
        </p>
      </div>
      <div class="col-md">
        <ul class="list-inline text-center text-md-end mb-0">
          <li class="list-inline-item">
            <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
